*.pyc
*.pyo
config.json
helmets.json
Misc/
bin/*.exe
bin/*.dll
bin/*.cfg
Patches/*.png
Patches/Flags/*.png
Patches/Flags/*.pdn
Patches/Players/*.png
Patches/Players/*.pdn
Templates/*.png
Templates/*.xcf
Export/*.paa
Export/*.hpp
.vs/*
Virt/